.search__button {
    display: inline-block;
    height: 42px;
    width: 42px;
    border: none;
    background: transparent;
    padding: 0;
    margin:0;
}
.search__icon {
    width: 100%;
    color: #fff;
}