{% block body %}
    <div class="grid">
        <div class="g 4/5@xxxl 5/6@max">
            {% block content %}{% endblock %}
        </div>
        <div class="g 1/5@xxxl 1/6@max">
            {% include adverts.templatePath with adverts.variantVars('overview') only %}
        </div>
    </div>
{% endblock %}