{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1 class="g-unit">{{ meta.title }}</h1>

    <div class="grid">
        <div class="g 1/2@l">
            <div>
            <h2>Issuers</h2>
            {% if hasIssuers %}
                <ul>
                    {%  for issuer in issuers %}
                        <li>{% include issuer.templatePath with issuer.vars only %}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No issuers match your query</p>
            {% endif %}
            </div>
        </div>
        <div class="g 1/2@l">
            <div>
            <h2>Securities</h2>
            {% if hasSecurities %}
                {% include '@partials/securities-list.html.twig' %}
            {% else %}
                <p>No securities match your query</p>
            {% endif %}
            </div>
        </div>
    </div>


{% endblock %}
