{% extends 'AppBundle::base.html.twig' %}

{% use "AppBundle::search/_base.html.twig" %}

{% block content %}
    <h1 class="g-unit">{{ meta.title }}</h1>

    <p class="g-unit"><a href="#issuers">Issuers</a> | <a href="#securities">Securities</a></p>

    <div class="grid">
        <div class="g">
            <div>
            <h2 id="issuers" class="g-unit">Issuers</h2>
            {% if hasIssuers %}
                <ul>
                    {%  for issuer in issuerPresenters %}
                        <li>{% include issuer.templatePath with issuer.vars only %}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No issuers match your query</p>
            {% endif %}
            </div>
        </div>
        <div class="g">
            <div>
            <h2 id="securities" class="g-unit">Securities</h2>
            {% if hasSecurities %}
                {% include '@partials/securities-list.html.twig' %}
            {% else %}
                <p>No securities match your query</p>
            {% endif %}
            </div>
        </div>
    </div>


{% endblock %}
