{% block body %}
    <div class="grid">
    <div class="g 1/4@xl">
        {% include finder.templatePath with finder.vars only %}
    </div>
    <div class="g 3/4@xl">
        <div>
            <h1 class="g-unit h-b">Overview</h1>
            <nav><ul class="tabs"
                ><li class="tabs__tab {% if activeTab == 'overview' %}tabs__tab--active{% endif %}"
                    ><a class="tabs__link" href="{{ path(
                        'overview'
                        ) }}">Overview</a
                        ></li
                    ><li class="tabs__tab {% if activeTab == 'securities' %}tabs__tab--active{% endif %}"
                    ><a class="tabs__link" href="{{ path(
                        'overview_securities'
                        ) }}">Securities</a
                        ></li
                    ><li class="tabs__tab {% if activeTab == 'maturity-profile' %}tabs__tab--active{% endif %}"
                    ><a class="tabs__link" href="#">Maturity Profile</a
                        ></li
                    ><li class="tabs__tab {% if activeTab == 'issuance' %}tabs__tab--active{% endif %}"
                    ><a class="tabs__link" href="#">Issuance</a
                        ></li
                    ></ul></nav>
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}