{% extends 'AppBundle::base.html.twig' %}

{% use "AppBundle::overview/_base.html.twig" %}

{% block content %}
    <div class="g-unit">
        <div class="grid grid--flush">
            <div class="g 3/4@xl">
                <div>
                    <h2 class="g-unit">Latest issuance</h2>
                </div>
            </div>
            <div class="g 1/4@xl">
                <div>
                    <div class="card card--padded g-unit text--center">
                        <a class="link--hidden" href="{{ path('security_list') }}">
                            <h2 class="d">Securities</h2>
                            <p class="a">{{ securitiesCount }}</p>
                        </a>
                    </div>
                    <div class="card card--padded g-unit text--center">
                        <h2 class="d">Amount raised</h2>
                        <p class="a">£{{ securitiesSum }}m</p>
                    </div>
                </div>
            </div>
            <div class="g">
                {% include('@partials/advert.html.twig') with { adType : 'overview'} %}
            </div>
        </div>
    </div>
{% endblock %}
