{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1 class="g-unit">{{ meta.title }}</h1>
    <p class="text--right d g-unit">{{ pagination.total }} results</p>
    {% include '@partials/securities-list.html.twig' %}
    {% include pagination.templatePath with pagination.vars only %}
{% endblock %}
