{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1 class="g-unit">{{ meta.title }}</h1>
    {% include '@partials/securities-filter.html.twig' %}
    <p class="text--right d g-unit">{{ pagination.total }} results</p>
    {% if pagination.total > 0 %}
        {% include '@partials/securities-list.html.twig' %}
        {% include pagination.templatePath with pagination.vars only %}
    {% else %}
        <p>There are no results for your chosen filters</p>
    {% endif %}
{% endblock %}
