{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="grid">
        <div class="g 1/4@xl">
            {% include finder.templatePath with finder.vars only %}
        </div>
        <div class="g 3/4@xl">
            <div class="g-unit">
                {% include adverts.templatePath with adverts.variantVars('overview') only %}
            </div>
            <h1 class="g-unit b">{{ meta.title }}</h1>
            <div class="g-unit">
                {% include '@partials/securities-filter.html.twig' %}
                <div class="grid grid--flush">
                    <div class="g 1/2@xl">
                        <p class="d">Total: £{{ totalRaised }}m</p>
                    </div>
                    <div class="g 1/2@xl text--right">
                        <p class="d">{{ pagination.total }} results</p>
                    </div>
                </div>
            </div>
            {% if pagination.total > 0 %}
                {% include '@partials/securities-list.html.twig' %}
                {% include pagination.templatePath with pagination.vars only %}
            {% else %}
                <p>There are no results for your chosen filters</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
