{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="grid">
        <div class="g 3/4@xl">
            <h1 class="g-unit">{{ meta.title }}</h1>
            {% include security.templatePath with security.vars only %}
        </div>
        <div class="g 1/4@xl">
            {% include adverts.templatePath with adverts.variantVars('isin') only %}
        </div>
    </div>
{% endblock %}
