{% extends 'AppBundle:emails:_base.html.twig' %}


{% block body %}

    <h1>Reset Password request</h1>
    <p>Hello {{ email.name }}</p>
    <p>You have requested a password reset. To set a new password visit:</p>
    <p><a href="{{ email.link }}">{{ email.link }}</a></p>
    <p>
        This link will expire in 7 days. If you did not make this request,
        ignore this e-mail; Your password will not be changed.
    </p>

{% endblock %}
