{% block context %}
    {% if sector.industry %}
        <span class="h-context h-f">
            <a href="{{ path('industry_show', { industry_id : sector.industry.id }) }}">
                {{ sector.industry.name }}
            </a>
        </span>
    {% endif %}
    {{ sector.name }}
{% endblock %}

{% block body %}
<div class="grid">
    <div class="g 1/4@xl">
        {% include finder.templatePath with finder.vars only %}
    </div>
    <div class="g 3/4@xl">
        <div>
            <div class="g-unit">
                {% include adverts.templatePath with adverts.variantVars('overview') only %}
            </div>
            <div class="g-unit">
                <p class="g-unit h-b">{{ block('context') }}</p>
            </div>
            {% include entityNav.templatePath with entityNav.vars only %}
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}