<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Securities</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/static/css/global.css" />
</head>
<body class="{% block bodyClass %}{% endblock %}">
{% block header %}
    <div>
{% endblock %}
{% block body %}{% endblock %}
{% block footer %}
    </div>
{% endblock %}
</body>
</html>
