.form {

}
.form__group {
    margin-bottom: $grid-unit-large;
}
.form__label {
    display: block;
    margin-bottom: $grid-unit-tiny;
    &:after {
        content: ":";
    }
}
.form__field {
    width: 100%;
    padding: $grid-unit-tiny;
}

input, textarea {
    border: solid 1px $color-text;
}

input[readonly] {
    background: $color-subtle;
}

.form__field--highlight {
    background: $color-faint;
}