.vagrant
dev
app/config/parameters.yml
.composer/
.idea/
html
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
.viminfo
.mysql_history
node_modules/
tmp/
public/bundles/
