// Colours
$color-grey-darkest: #444148;
$color-grey-dark: #777;
$color-grey-mid: #999;
$color-grey-light: #bbb;
$color-grey-lightest: #ddd;


$color-body-text: #444148;
$color-body-bg: #fafafa;
$color-body-link: #828;
$color-body-link-hover: #888;
$color-body-keyline: $color-grey-light;



// Sizes
$size-grid-unit: 16px;
$size-grid-unit-small: 8px;
$size-grid-unit-tiny: 4px;

// Fonts
$font-body: "Source Sans Pro", sans-serif;
$font-heading: Georgia, serif;
