.list--unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list--inline {
    > li {
        display: inline;
    }
}

.list--spaced {
    > li {
        margin-bottom: $grid-unit-small;
        @include mq($from: m) {
            margin-bottom: $grid-unit-large;
        }
    }
}

.list--lined {
    @extend .list--unstyled;
    > li {
        padding-top: $grid-unit-tiny;
        padding-bottom: $grid-unit-tiny;
        border-top: solid 1px $color-faint;
        &:first-child {
            padding-top: 0;
            border-top: 0;
        }
    }
}