@import '../vendor/normalize';

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
}

html {
    overflow-y: scroll;
}

body {
    padding: 0;
    background: $color-body;
    color: $color-text;
    font-family: $font-body;
}


img,
svg {
    width: 100%;
    height: auto;
}

ul {
    list-style: square;
    list-style-position: inside;
    padding: 0;
}

a {
    font-weight: inherit;
    color: $color-link;
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
    }
}

.inline {
    display: inline;
}

.page-limit {
    margin-left: auto;
    margin-right: auto;
    padding-left: $grid-unit-small;
    padding-right: $grid-unit-small;
    max-width: 1440px;
}

@include mq($from: m) {
    .page-limit {
        padding-left: $grid-unit-large;
        padding-right: $grid-unit-large;
    }
}