$layout-max-width: 1920px;
.layout--max {
    max-width: $layout-max-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $size-grid-unit;
    padding-right: $size-grid-unit;
}
.layout--full {
    max-width: $layout-max-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $size-grid-unit;
    padding-right: $size-grid-unit;
}

@include mq($from: m) {
    .layout--max {
        padding-left: $size-grid-unit * 2;
        padding-right: $size-grid-unit * 2;
    }
}

@include mq($from: xl) {
    .layout-entities__finder {
        padding-right: $size-grid-unit;
        border-right: solid 1px $color-grey-lightest;
    }
    .layout-entities__core {
        @include order(2);
    }
    .layout-entities__sidebar {
        @include order(1);
    }
}