// sizes
.a {
    font-size: 96px;
    font-size: 3rem;
    letter-spacing: -3px;
    // @todo line-height
}
.b {
    font-size: 38.4px;
    font-size: 2.4rem;
    letter-spacing: -2px;
}
.c {
    font-size: 28.8px;
    font-size: 1.8rem;
    letter-spacing: -1px;
}
.d {
    font-size: 22.4px;
    font-size: 1.4rem;
    letter-spacing: -1px;
}
.e {
    font-size: 16px;
    font-size: 1rem;
    letter-spacing: 0px;
}
.f {
    font-size: 14px;
    font-size: 0.875rem;
    letter-spacing: 0px;
}

// specific heading types
h1,
.h-a {
    @extend .a;
    font-weight: 200;
    margin: 0;
}

h2,
.h-b {
    @extend .b;
    font-weight: 200;
    margin: 0;
}

h3,
.h-c {
    @extend .c;
    font-weight: 200;
    margin: 0;
}

h4,
.h-d {
    @extend .d;
    margin: 0;
}

h5,
.h-e {
    @extend .e;
    font-weight: bold;
    margin: 0;
}

h6,
.h-f {
    @extend .f;
    text-transform: uppercase;
    margin: 0;
}

p,
.p {
    @extend .e;
    font-weight: normal;
}

.h-lined {
    border-bottom: solid 1px $color-subtle;
}
tbody {
    font-family: monospace; // todo - better!
    font-size: 1.2rem;
}