{% extends 'AppBundle::base.html.twig' %}

{% use "AppBundle::account/_base.html.twig" %}

{% block content %}
    <h1 class="b g-unit">Dashboard</h1>
    <div class="grid">

        <div class="g 7/12@m">
            <div>
                <p>Choose a tab</p>
            </div>
        </div>
        <div class="g 5/12@m">
            <div class="panel">
                <h2 class="b">{{ visitor.displayName }}</h2>
                <p class="text--right">
                    <a href="{{ path('account_settings') }}">Change e-mail/password</a></p>
            </div>
        </div>
    </div>
{% endblock %}