{% extends 'AppBundle::base.html.twig' %}


{% block body %}
    <div class="home-wrapper card card--padded">
        <p class="home__intro home__content">
            Enter an ISIN, security or company name <br />
            <a href="{{ path('securities_list') }}">View all securities</a> | <a href="{{ path('issuers_list') }}">View all issuers</a>
        </p>
    </div>
{% endblock %}
