{% extends 'AppBundle::base.html.twig' %}


{% block body %}
   <h1>HOME PAGE</h1>
    <a href="{{ path('securities_list') }}">Securities</a>

    {% include '@partials/search.html.twig' %}
{% endblock %}
