{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Styleguide</h1>
    <p>
        This page shows all of the component types. It's based on <a href="http://www.getmdl.io/">Material Design Lite</a> but slimmed
        down, and more progressive enahncement friendly.
    </p>

{% endblock %}