{% extends 'AppBundle::base.html.twig' %}


{% block body %}
    <div class="text--prose" style="margin-left:auto;margin-right: auto;">
    <h1>Terms and Conditions of Access to the Website</h1>
    <p>
        BEFORE ENTERING THIS WEBSITE, PLEASE READ CAREFULLY THE FOLLOWING IMPORTANT TERMS
        AND CONDITIONS THAT GOVERN YOUR ACCESS TO, AND USE OF, THIS WEBSITE, AND ACKNOWLEDGE
        YOUR AGREEMENT TO THEM.
    </p>
    <p>
        Access and use of this website (the Website) is conditional upon agreement to and compliance
        with these terms and conditions of access to the website (the Terms and Conditions).
    </p>
    <p>
        You (“<strong>the Client</strong>”) acknowledge and agree to the Terms and Conditions and agree
        not to undertake any act or omission that would constitute a breach of these Terms and Conditions.
    </p>
    <h2>Access to and use of the Website</h2>
    <p>
        The material available is for informational purposes only and shall not be relied upon for the
        purpose of investment decisions.
    </p>
    <p>
        Nothing in the Website is, or is to be construed as, an offer of or invitation to subscribe
        for, underwrite or purchase securities in any jurisdiction.
    </p>
    <p>
        The Client agrees that it has not made and will not make any offer of securities referred
        to on the Website (the Securities) other than in accordance with applicable law and regulation.
    </p>
    <p>
        Nothing in the Website constitutes an offer of securities for sale in the United States.
        The Securities may not be offered or sold in the United States absent registration or an
        exemption from registration under the Securities Act of 1933, as amended (the Securities Act).
        It is not intended that the Securities will be registered under the Securities Act or any U.S.
        state securities laws.
    </p>
    <p>
        The Client will use the Website solely for its own internal use in accordance with the terms
        and conditions of these Terms and Conditions.
    </p>
    <p>
        The Client will not engage in any activities related to the Website that are contrary to
        applicable law or regulation or the terms of any agreement between the Client and ISIN
        Analytics Ltd.
    </p>
    <p>
        The Website may contain other proprietary notices and copyright information, the terms of
        which must be observed and followed.
    </p>
    <h2>Acknowledgements and Disclaimers</h2>
    <p>
        The Client acknowledges and agrees to the following:
    </p>
    <ul>
        <li>
            No duty to update or correct materials. The materials included on the Website are historical
            in nature and only current as of the date of the materials. Neither ISIN Analytics Ltd
            nor any other party has any duty to maintain or update any material on the Website.
            Historic performance information with regard to any security is no indication of its
            future performance.
        </li>
        <li>
            Changes to materials. ISIN Analytics Ltd may remove or make changes to the materials
            available on the Website at any time.
        </li>
        <li>
            Third party materials. Information on the Website sourced from third parties (the
            Third Party Materials), including (without limitation) offering circulars, prospectuses,
            listing particulars, pricing supplements, reports, agreements, summaries, models,
            commentary and other materials, has been obtained from sources believed to be reliable,
            but ISIN Analytics Ltd does not warrant its completeness or accuracy. ISIN Analytics
            Ltd has no obligations in respect of Third Party Materials (including as to verifying
            or correcting Third Party Materials or publishing materials relating to Third Party
            Materials). Posting Third Party Materials on the Website does not imply any
            endorsement, adoption of or responsibility by ISIN Analytics Ltd for the opinions,
            ideas, products, information or services offered therein, or any representation
            regarding the content of any Third Party Materials.
        </li>
        <li>
            Offering documents and research reports. Any final offering memoranda or other
            offering materials (each, an Offering Document) or research reports posted on the
            Website are Third Party Materials unless produced by ISIN Analytics Ltd. Third
            Party Materials are provided solely for the Client's convenience to generally
            describe the terms of the transaction described therein.
        </li>
        <li>
            The Client should not assume that the information contained or incorporated by
            reference in any Offering Document or research report is accurate as of any date
            other than the respective date set forth therein or the date of the information
            incorporated therein.
        </li>
        <li>
            Offering Documents, research reports and other information contained in the Website
            may not be distributed (whether in whole or in part) to or used by any person or entity
            in any jurisdiction or country where such distribution or use would be contrary to
            local law or regulation.
        </li>
        <li>
            ISIN Analytics Ltd Positions. ISIN Analytics may have its own interests in relation
            to the issuers or any affiliates of the issuers of Securities or transactions
            mentioned on the Website.
        </li>
        <li>
            Disclaimer of Advice. The Website strictly does not purport to provide any financial,
            investment, tax, accounting or legal advice or recommendation.
        </li>
        <li>
            Click Through. Any acknowledgment, agreement or other type of click through button on
            the Website that is selected to evidence agreement or an acknowledgement shall have
            the same force and validity as a paper copy of an agreement that has been manually
            signed and delivered.
        </li>
        <li>
            Discontinuance and disruption of service. ISIN Analytics Ltd or its suppliers may
            discontinue the Website at any time.
        </li>
    </ul>
    <h2>Unauthorised Use</h2>

    <p>
        Unauthorised use of the Website including but not limited to unauthorised entry into
        such entities' systems, or misuse of any information posted to the Website,
        is strictly prohibited.
    </p>

    <h2>Limitation of Liability</h2>
    <p>
        ISIN Analytics Ltd and third party data providers are not responsible for any errors
        in or omissions from the information contained in or accessed through the Website
        (including all information, tools and materials contained on the Website).
    </p>
    <p>
        The Website may contain statements that constitute forward-looking statements within
        the meaning of the U.S. Private Securities Litigation Reform Act of 1995. These
        forward-looking statements can be identified by the use of forward-looking terminology,
        such as the words 'believes', 'expects', 'may', 'intends', 'should' or 'anticipates',
        or the negative or other variations of those terms. These statements involve known and
        unknown risks, uncertainties and other important factors that could cause the actual
        results and performance of the securities listed on the website to differ materially
        from any future results or performance expressed or implied in the forward-looking
        statements. These risks, uncertainties and other factors include, among others:
        general economic and business conditions in the United Kingdom; currency exchange
        and interest rate fluctuations; government, statutory, regulatory or administrative
        initiatives affecting the capital markets; and other factors that may be referred
        to in the Website.
    </p>
    <p>
        ISIN Analytics Ltd will have no tort, contract or any other liability to the Client
        or any third party arising in connection with the use of the Website, or reliance on
        any information or services provided in this Website.
    </p>
    <p>
        ISIN Analytics Ltd will under no circumstances be liable to the Client or any
        third party, regardless of the form of action, for any lost profits or lost
        opportunity, or any indirect, special, consequential, incidental or punitive
        damages whatsoever, even if ISIN Analytics Ltd has been advised of the possibility
        of such loss or damages.
    </p>
    <p>
        Nothing in this clause shall limit or exclude liability of ISIN Analytics:
    </p>
    <ul>
        <li>(i) for personal injury arising from negligence;</li>
        <li>(ii) for fraud, gross negligence or wilful default; or </li>
        <li>(iii) for damages that may not be limited or excluded under applicable law and regulation.</li>
    </ul>
    <p>
        The parties agree that the limitations and exclusions set out in this clause are
        reasonable having regard to all the relevant circumstances and the levels of risk
        associated with each party's obligations under these Terms and Conditions.
    </p>
    <h2>Governing Law</h2>
    <p>
        These Terms and Conditions and any non contractual obligations arising out of or in
        conjunction with it, will be governed by, and construed in accordance with, the
        laws of England and Wales.
    </p>
    <p>
        The English courts will have jurisdiction to settle any disputes which may arise
        in connection with these Terms and Conditions.
    </p>
    </div>
{% endblock %}