<p class="g-unit">Updated: {{ currenciesUpdatedDate }}</p>
<div class="grid">
    {% for rate in currenciesWithRates %}
        <a href="{{ path(rate.pathName, rate.pathParams) }}" class="g 1/2@s 1/3@m 1/4@l">
            <div class="island color-grey-lightest text--center">
                <div class="d">{{ rate.code }}</div>
                <div class="b">${{ rate.valueUSD }}</div>
            </div>
        </a>
    {% endfor %}
</div>