<div>
    <h2>Or:</h2>
    <div class="login-buttons">
        <ul class="list--unstyled">
            <li>
                <a href="/connect/google" class="login-buttons--google">
                    <img src="{{ 'google-sign-in.png'|asset_path }}" alt="Sign in with Google" />
                </a>
            </li>
        </ul>
    </div>
</div>