<div class="advert advert--{{ adType }}">
    <p class="h-f text--right advert__notice">Advertisement</p>
    {%
    set ads = {
        overview : "2419457559",
        isin : "4256117558"
    }
    %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-4717500607987181"
         data-ad-slot="{{ ads[adType] }}"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>