<div class="table-container">
    <div class="table-wrap">
        <table class="table table--striped g-unit">
            <thead>
                <tr>
                    <th>ISIN</th>
                    <th>Amount raised</th>
                    <th>Issuer</th>
                    <th>Issue Date</th>
                    <th>Maturity Date</th>
                    <th>Coupon</th>
                    <th>Currency</th>
                </tr>
            </thead>
            <tbody>
            {%  for security in securities %}
                {% include security.templatePath with security.vars only %}
            {%  endfor %}
            </tbody>
        </table>
    </div>
</div>