{% if entitycontext.isVisible %}
    {% if entitycontext.parents %}
        <span class="h-context h6">
            {% for parent in entitycontext.parents %}
                <span class="h-context__item"
                    ><a href="{{ path(parent.route, parent.params) }}">{{ parent.name }}</a
                ></span>
            {% endfor %}
        </span>
    {% endif %}
    {{ entitycontext.entityName }}
{% else %}
    All industries
{% endif %}
<span class="h-context__link d"><a href="#finder">Change</a></span>