{% block context %}
    {% include entityContextPresenter.templatePath with entityContextPresenter.vars only %}
{% endblock %}

{% block body %}
<div class="grid">
    <div class="g 3/4@xl">
        <div>
            <div class="g-unit entity-context">
                <p class="h1">{{ block('context') }}</p>
            </div>
            <div class="g-unit">
                {% include adverts.templatePath with adverts.variantVars('overview') only %}
            </div>
            {% include entityNav.templatePath with entityNav.vars only %}
            {% block content %}{% endblock %}
            {% include adverts.templatePath with adverts.variantVars('overview') only %}
        </div>
    </div>
    <div class="g 1/4@xl">
        <div>
            {% include finder.templatePath with finder.vars only %}
        </div>
    </div>
</div>
{% endblock %}

{% block statsTracking %}
    {% for i, name in entityContextPresenter.statsTracking %}
        ga('set', 'contentGroup{{ i }}', '{{ name }}');
    {% endfor %}
{% endblock %}