{% extends 'AppBundle::base.html.twig' %}

{% use "AppBundle::entities/_base.html.twig" %}

{% block content %}
    <div class="grid g-unit">
        <div class="g">
            <h1 class="c"><span class="invisible">{{ block('context') }} - </span>Issuance</h1>
        </div>
        {% if hasData %}
            <div class="g">
                <div class="text--prose">
                    <p>
                        This issuance shows the number of recent securities issued
                            {% if entity %} by <strong>{{ entity.name }}</strong> {% endif %}.
                        They are grouped by product. Click any data set to see the full list of securities for that month.
                    </p>
                </div>
            </div>
            <div class="g">
                {% include issuanceGraph.templatePath with issuanceGraph.vars only %}
            </div>
            <div class="g">
                {% include issuanceTable.templatePath with issuanceTable.vars only %}
            </div>
        {% else %}
            <div class="g">
                <div class="text--prose">
                    <p>
                        There is no recent issuance data
                        {% if entity %}for <strong>{{ entity.name }}</strong>{% endif %}
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
