.main-nav {
    @extend .layout--full;
    background: $color-black;
    display: none;
    @include mq($from: xl) {
        display: block;
    }
}
#main-nav-display {
    @extend .invisible;
    &:checked + .main-nav {
        display: block;
    }
}

.main-nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    > li {
        border-bottom:  solid 1px $color-brand;
        display: block;
    }
    a.main-nav__link {
        display: block;
        padding: $size-grid-unit;
        font-weight: normal;
        letter-spacing: 0;
        &:hover,
        &:active,
        &:focus {
            background: $color-body-bg;
            color: $color-body-text;
            text-decoration: none;
        }
    }
    @include mq($from: xl) {
        > li {
            display: inline-block;
            border-bottom: 0;
            border-right: solid 1px $color-brand;
        }
        a.main-nav__link {
            padding: $size-grid-unit*0.75 $size-grid-unit;
        }
    }
}
