@include mq($from: m) {
    .finder-wrapper {
        border-right: solid 1px $color-subtle;
    }
    .finder {
        padding-right: $grid-unit-large;
    }
}


.finder__list {
    list-style-type: square;
    list-style-position: outside;
    margin-left: $grid-unit-large;
}
.finder__heading {
    text-align: right;
}
.finder__sub {
}

.finder__item {
    border-bottom: solid 1px $color-subtle;
    &:last-child {
        border-bottom: none;
    }
}

.finder__link {
    display: block;
    padding: $grid-unit-tiny 0;
}
.finder__active {
    font-weight:bold;
}