.security{}
.security__link {
    &:hover,
    &:active,
    &:focus {

    }
}

.security-simple__link {
    display: block;
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        background: $color-faint;
    }
}
.security-simple__table {
    color: $color-text;
}
.security-simple__th {
    width: 30%;
}