.tabs {
    display: block;
    margin-bottom: $grid-unit-large;
    text-align: center;
    list-style: none;
    border-bottom: solid 1px $color-subtle;
}
.tabs__tab {
    display: inline-block;
    background: $color-body;
    position: relative;
    top: 1px;
}
.tabs__link {
    padding: $grid-unit-tiny $grid-unit-small;
    margin-right: -1px;
    border: solid 1px $color-subtle;
    display: inline-block;
    color: $color-text;
    background: $color-faint;
    &:hover,
    &:active,
    &:focus{
        background: $color-link-hover;
        color: $color-body;
        text-decoration: none;
    }
}
.tabs__tab--active {
    .tabs__link {
        color: $color-text;
        padding-top: $grid-unit-tiny + 2px;
        border-bottom: solid 1px $color-body;
        background: $color-body;
    }
}