{% extends 'AppBundle::base.html.twig' %}

{% use "AppBundle::admin/_base.html.twig" %}

{% block content %}
    <h1 class="b g-unit">Dashboard</h1>
    <div class="grid">

        <div class="g 7/12@m">
            <div class="card card--padded">
                <p>Choose a tab</p>
            </div>
        </div>
        <div class="g 5/12@m">
            <div class="card card--padded">
                <h2 class="g-unit c">Stats</h2>
                <table class="table table--lined">
                    <tbody>
                    <tr><th>Total Securities</th><td>13,000</td></tr>
                    <tr><th>Active Securities</th><td>12,000</td></tr>
                    <tr><th>Matured Securities</th><td>1,000</td></tr>
                    <tr><th>Total Issuers</th><td>1,888</td></tr>
                    <tr><th>Total Groups</th><td>1,888</td></tr>
                    <tr><th>Total Sectors</th><td>1,888</td></tr>
                    <tr><th>Total Industries</th><td>30</td></tr>
                    </tbody>
                </table>
            </div>
{% endblock %}