{% extends 'AppBundle::base.html.twig' %}


{% block body %}
    <h1 class="g-unit">Admin</h1>

    <div class="card card--padded g-unit">
        <h2 class="g-unit">Get New File</h2>
        {% if formError %}
            <p><strong>{{ formError }}</strong></p>
        {% elseif formSuccess %}
            <p><strong>{{ formSuccess }}</strong></p>
        {% endif %}
        <form method="POST">
            <div class="g-unit">
                <label for="input-file-id" style="width: 20%; margin-right: 24px;">Input file</label>
                <input id="input-file-id" name="input-file-id" value="{{ prevFileId }}" style="width:80%" />
            </div>
            <div>
                <button type="submit" class="link--button">Fetch</button>
            </div>
        </form>
    </div>

    <div class="card card--padded">
        <h2 class="g-unit">Process File</h2>
        <p>There are no differences to process</p>
    </div>
{% endblock %}