{% extends 'AppBundle::security/base.html.twig' %}
{% block title %}Create First User{% endblock %}
{% block bodyClass %}page-login{% endblock %}


{% block form %}

    <h1>First User</h1>
    <p>Setup the details for the first user of the system.
        A temporary password will be e-mailed. This user will become an administrator.
        You will no longer be able to access this page after the first user is created.</p>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}