{% extends 'AppBundle::base.html.twig' %}


{% block body %}

    <h1 class="g-unit">Login</h1>

    {% if loginErrorMessage %}
        {# Not ready to use translations, so this sadface workaround is needed #}
        <div class="message message--error g-unit">
            {{ loginErrorMessage| replace({"Bad credentials." : "E-mail or password not recognised"}) }}
        </div>
    {% endif %}

    <div class="grid">
        <div class="g 1/2@xl">
            {% include '@partials/_login-form.html.twig' %}
        </div>
        <div class="g 1/2@xl">
            {% include '@partials/_login-oauth.html.twig' %}
        </div>
    </div>

{% endblock %}