{% extends 'AppBundle::base.html.twig' %}

{% block body %}

<h1>Register</h1>

<div class="grid">
    <div class="g 1/3@xl">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <div class="2/3@xl">


    <h2>Features</h2>
    <table style="width: 100%">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>All access<br />Unregistered</th>
            <th>Bronze<br />Free</th>
            <th>Silver<br />(coming soon)</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>View securities, by issuer, group, sector and industry</td>
                <td>&check;</td>
                <td>&check;</td>
                <td>&check;</td>
            </tr>
            <tr>
                <td>Issuance charts</td>
                <td>&check;</td>
                <td>&check;</td>
                <td>&check;</td>
            </tr>
            <tr>
                <td>Maturity Profiles</td>
                <td>&check;</td>
                <td>&check;</td>
                <td>&check;</td>
            </tr>
            <tr>
                <td>Historical weekly reports</td>
                <td>&check;</td>
                <td>&check;</td>
                <td>&check;</td>
            </tr>
            <tr>
                <td>New weekly reports</td>
                <td></td>
                <td>&check;</td>
                <td>&check;</td>
            </tr>
            <tr>
                <td>Save securities to your profile</td>
                <td></td>
                <td>Up to 20</td>
                <td>Unlimited</td>
            </tr>
            <tr>
                <td>Advanced search and filter tools</td>
                <td></td>
                <td></td>
                <td>&check;</td>
            </tr>
            <tr>
                <td>New issuance alerts</td>
                <td></td>
                <td></td>
                <td>&check;</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
{% endblock %}