{% extends 'AppBundle::security/base.html.twig' %}
{% block title %}Reset Password{% endblock %}
{% block bodyClass %}page-reset-password{% endblock %}


{% block form %}

    <p><a href="{{ path('login') }}" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
            <i class="material-icons">navigate_before</i> Return to login
        </a></p>
    <h1>Reset Password</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}