{% extends 'AppBundle::base.html.twig' %}

{% block body %}

    <h1 class="g-unit">Reset Password</h1>

    <div class="text--prose">
    <p><a href="{{ path('login') }}">Return to login</a></p>
    <p>
        Enter your e-mail address to be sent a link to reset your password. The link should be sent immediately.
        Please check you have entered your address correctly, and double check your spam folder to find it.
        Note that the link will only be valid for seven days.
    </p>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    </div>

{% endblock %}