{% extends 'AppBundle::base.html.twig' %}

{% block body %}

    <p><a href="{{ path('login') }}">Return to login</a></p>
    <h1>Reset Password</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}