{% extends 'AppBundle::base.html.twig' %}

{% block body %}

    <h1 class="g-unit">Set new password</h1>

    <div class="text--prose">
        <p><a href="{{ path('login') }}">Return to login</a></p>
        <p>
            Choose a new password to login to your account. Your old password will no longer work after this
            new one has been set. You will then be able to login with your e-mail address and new password.
        </p>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}