{% extends 'AppBundle::base.html.twig' %}

{% use "AppBundle::groups/_base.html.twig" %}

{% block content %}
    <h2>Issuers</h2>
    <p class="g-unit text--right d">{{ pagination.total }} results</p>
    {% set letter = null %}
    {%  for issuer in issuers %}
        {% if issuer.letter != letter %}
            {% if letter != null %}
                </ul>
                </div>
            {% endif %}
            {% set letter = issuer.letter %}
            <div class="card card--padded g-unit">
            <h2>{{ letter }}</h2>
            <ul>
        {% endif %}
        <li>{% include issuer.templatePath with issuer.vars only %}</li>
    {%  endfor %}
    </ul>
    </div>
{% endblock %}
