.link--button {
    display: inline-block;
    padding: $grid-unit-tiny $grid-unit-small;
    color: $color-body;
    background: $color-link;
    border: 0;
    &:hover,
    &:active,
    &:focus,
    &.link--button-active{
        background: $color-link-hover;
    }
}

.link--hidden {
    color: inherit;
}

