$loading-offset: 187;
$loading-duration: 1.4s;
@-webkit-keyframes loading-dash {
    0% { stroke-dashoffset: $loading-offset; }
    50% {
        stroke-dashoffset: $loading-offset/4;
        transform:rotate(135deg);
    }
    100% {
        stroke-dashoffset: $loading-offset;
        transform:rotate(450deg);
    }
}
@keyframes loading-dash {
    0% { stroke-dashoffset: $loading-offset; }
    50% {
        stroke-dashoffset: $loading-offset/4;
        transform:rotate(135deg);
    }
    100% {
        stroke-dashoffset: $loading-offset;
        transform:rotate(450deg);
    }
}
@-webkit-keyframes loading-rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(270deg); }
}
@keyframes loading-rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(270deg); }
}

.loading {
    width: 32px;
    margin-left: auto;
    margin-right: auto;
    transform-origin: center;
    -webkit-animation: loading-rotate $loading-duration linear infinite;
    animation: loading-rotate $loading-duration linear infinite;
}
.loading__path {
    stroke: $color-body-text;
    stroke-dasharray: $loading-offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    -webkit-animation: loading-dash $loading-duration ease-in-out infinite;
    animation: loading-dash $loading-duration ease-in-out infinite;
}