.message {
    @extend .island-squashed;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    text-shadow: 0.5px 0.5px 0 $color-black;
    + .message {
        margin-top: $size-grid-unit;
    }
}
.message--ok {
    background: $color-tertiary-light;
    color: $color-tertiary-dark;
}
.message--warning {
    background: $color-complimentary-light;
    color: $color-complimentary-dark;
}
.message--error {
    background: $color-secondary-light;
    color: $color-secondary-dark;
}
.message--info {
    background: $color-primary-light;
    color: $color-primary-dark;
}
