.text--center {
    text-align: center;
}

.text--right {
    text-align: right;
}

.h-context {
    display: block;
}
.h-context__item {
    &:after {
        content: " > ";
    }
    &:last-child:after {
        content: "";
    }
}

.text--prose {
    max-width: 700px;
    p, li, h1 {
        // when part of prose, paragraphs get their spacing back
        margin-bottom: $grid-unit-small;
        @include mq($from: m) {
            margin-bottom: $grid-unit-large;
        }
    }
    li {
        list-style-position: outside;
    }
}