{% extends 'AppBundle::base.html.twig' %}

{% use "AppBundle::issuers/_base.html.twig" %}

{% block content %}
    <h2>Securities</h2>
    <div class="g-unit">
        {% include '@partials/securities-filter.html.twig' %}
        <div class="grid grid--flush">
            <div class="g 1/2@xl">
                <p class="d">Total: £{{ totalRaised }}m</p>
            </div>
            <div class="g 1/2@xl text--right">
                <p class="d">{{ pagination.total }} results</p>
            </div>
        </div>
    </div>
    {% if pagination.total > 0 %}
        {% include '@partials/securities-list.html.twig' %}
        {% include pagination.templatePath with pagination.vars only %}
    {% else %}
        <p>There are no results for your chosen filters</p>
    {% endif %}
{% endblock %}
