$finder-icon-size: 32px;

.finder {
    @extend .scrollpanel;
}
.finder__heading {
    margin-bottom: $size-grid-unit-small;
}
.finder__list {
    list-style: none;
}
.finder__item {
    margin-bottom: 1px;
}

.finder__link {
    display: block;
    color: $color-body-text;
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        background: $color-primary-dark;
        color: $color-white;
        > .finder__indicator {
            fill: $color-white;
        }
    }
}

.finder__indicator {
    display: inline-block;
    fill: $color-body-text;
    width: $finder-icon-size;
    height: $finder-icon-size;
    vertical-align: middle;
    &:not(.finder__indicator--nodrop) {
        &:hover,
        &:active,
        &:focus {
            background: $color-brand;
            fill: $color-white;
        }
    }
}
.finder__indicator--nodrop {
    padding: 8px;
}
.finder__active > .finder__link {
    background: $color-primary-light;
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        background: $color-primary-dark;
    }
    .finder__indicator {
        background: $color-primary-dark;
        fill: $color-white;
        &:not(.finder__indicator--nodrop) {
            transform: rotate(90deg);
            &:hover,
            &:active,
            &:focus {
                background: $color-brand;
            }
        }
    }
}

.finder__text {
    display: inline-block;
    vertical-align: middle;
    margin-left: $size-grid-unit-tiny;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 48px);
}

.finder__sub {
    padding: 0 0 0 $size-grid-unit-tiny;
    margin: $size-grid-unit-small 0;
    border-left: solid $size-grid-unit-tiny $color-grey-mid;
}

@include mq($from: xl) {
    .finder {
        padding-right: $size-grid-unit;
        height: calc(100vh - #{$size-grid-unit});
        overflow-y: auto;
    }
}