.security{}
.security__link {
    &:hover,
    &:active,
    &:focus {

    }
}

.security-simple__link {
    display: block;
}
.security-simple__table {
    color: $color-text;
}
.security-simple__th {
    width: 30%;
}