{% extends 'AppBundle::base.html.twig' %}
{% block title %}Create New User{% endblock %}
{% block crumb %}
    <a href="{{ path('users_list') }}" class="mdl-button mdl-js-button mdl-js-ripple-effect">Users</a>
    <i class="mdl-color-text--blue-grey-400 material-icons">keyboard_arrow_right</i>
    <span class="mdl-button mdl-js-button mdl-js-ripple-effect">Create New User</span>
{% endblock %}

{% block body %}
    <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
        <h1>Create New User</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
