<div id="chart-area">
    <canvas id="group-products"><p class="text--center">Drawing graph...</p></canvas>
</div>
<div id="chart-legend"></div>
<script>
    (function() {
        var ctx = document.getElementById('group-products').getContext('2d'),
            settings = {{ benchmarkgraph.settings|json_encode|raw }},
            chart;

        // Create legend
        settings.options.legendCallback = function (data) {
            var items = [];
            data.legend.legendItems.forEach(function (item) {
                if (!item.hidden) {
                    items.push(
                            '<li class="g 1/3"><div class="legend__item">' +
                            '<span class="legend__icon" style="background-color:' + item.fillStyle + '"></span>' +
                            '<span class="legend__text">' + item.text + '</span>' +
                            '</div></li>'
                    );
                }
            });
            return '<ul class="legend legend--inline grid">' + items.join('') + '</ul>';
        };

//        settings.options.scales.yAxes[0].ticks.callback = function (value) {
//            return settings.options.axisFormat.replace('#', value);
//        };
//
//        settings.options.tooltips.callbacks.label = function (tooltipItem, data) {
//            return data.datasets[tooltipItem.datasetIndex].label + ': ' +
//                    settings.options.axisFormat.replace('#', tooltipItem.yLabel);
//        };

        chart = new Chart(ctx, settings);

        document.getElementById('chart-legend').innerHTML = chart.generateLegend();

    })();
</script>
