.advert {
    @extend .shadow;
    background: $color-card;
    padding: 1px;
}
.advert__notice {
    padding: ($grid-unit-tiny - 1px) ($grid-unit-tiny - 1px) $grid-unit-tiny;
}
.advert--overview {
    height: 92px;
}
.advert--isin {
    ins {
        max-width: 288px;
        margin-left: auto;
        margin-right: auto;
    }
}