.card {
    @extend .shadow;
    display: block;
    background: $color-card;
}
.card__heading {
    border-bottom: solid 1px $color-subtle;
}
.card--padded {
    padding: $grid-unit-small;
}


@include mq($from: m) {
    .card--padded {
        padding: $grid-unit-large;
    }
}