.form {

}

.form__label {
    &:after {
        content: ":";
    }
}

.form__input {
    border: solid 1px $color-primary-light;
    padding: $size-grid-unit-small;
    transition: box-shadow 0.1s ease-out;
    &:focus {
        border-color: $color-primary-dark;
        outline: none;
        box-shadow: 0 0 $size-grid-unit-small $color-primary-dark;
    }
    &[readonly] {
        background-color: $color-grey-lightest;
    }
}


.form__group {
    margin-bottom: $size-grid-unit;
    > .form__label {
        display: block;
        margin-bottom: $size-grid-unit-tiny;
    }
    > .form__input {
        display: block;
        width: 100%;
    }
}