.table {
    width: 100%;
    border-collapse: collapse;
    td,th {
        @extend .island-squeezed;
        text-align: left;
    }
}

.table--striped {
    thead > tr,
    tfoot > tr{
        background: $color-header-bg;
        color: $color-header-text;
    }
    tbody > tr:nth-child(even) {
        background: $color-faint;
    }
}

// @todo - make it so this isn't needed
.table--small {
    font-size: 80%;
}