.tabs-wrap {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: $size-grid-unit;
}
.tabs {
    display: block;
    text-align: center;
    list-style: none;
    border-bottom: solid 1px $color-body-keyline;
}
.tabs__tab {
    display: inline-block;
    background: $color-body-bg;
    position: relative;
    top: 1px;
}
.tabs__link {
    padding: $size-grid-unit-small $size-grid-unit;
    margin-right: -1px;
    border: solid 1px $color-body-keyline;
    display: inline-block;
    color: $color-body-text;
    font-weight:normal;
    background: $color-grey-lightest;
    &:hover,
    &:active,
    &:focus{
        background: $color-body-link-hover;
        color: $color-body-bg;
        text-decoration: none;
    }
}
.tabs__tab:first-child {
    .tabs__link {
        border-top-left-radius: $size-grid-unit-tiny;
    }
}
.tabs__tab:last-child {
    .tabs__link {
        border-top-right-radius: $size-grid-unit-tiny;
    }
}

.tabs__tab--active {
    .tabs__link {
        color: $color-body-text;
        padding-top: $size-grid-unit-small + 2px;
        border-bottom: solid 1px $color-body-bg;
        background: $color-body-bg;
        border-top-left-radius: $size-grid-unit-tiny;
        border-top-right-radius: $size-grid-unit-tiny;
    }
}
