.table {
    width: 100%;
    border-collapse: collapse;
    td,th {
        @extend .island-squeezed;
        text-align: left;
    }
}

.table--striped {
    thead > tr {
        background: $color-header-bg;
        color: $color-header-text;
    }
    tbody > tr:nth-child(even) {
        background: $color-faint;
    }
}
