.table-container {
    width: 100%;
    overflow-x: auto;
}
.table {
    width: 100%;
    border-collapse: collapse;
    td,th {
        padding: $size-grid-unit-small;
        text-align: left;
    }
}

.table--striped {
    thead > tr,
    tfoot > tr{
        background: $color-brand;
        color: $color-brand-text;
    }
    tbody > tr:nth-child(even) {
        background: $color-grey-lightest;
    }
    tbody > tr[onclick]:hover {
        cursor: pointer;
        background: $color-primary-light;
    }
    tbody {
        border-bottom: solid 1px $color-primary-light;
    }
}

.table--lined {
    tr {
        border-bottom: solid 1px $color-body-keyline;
    }
}

@include mq($until: l) {
    .table--collapse {
        display: block;
        thead {
            display: none;
        }
        tbody {
            tr,
            td {
                display: block;
            }
            tr {
                margin-bottom: $size-grid-unit;
                background: $color-grey-lightest;
            }
            td:not(:last-child) {
                border-bottom: solid 1px $color-grey-mid;
            }
            td:before {
                content: attr(data-heading) ":";
                width: 40%;
                display: inline-block;
            }
        }
    }
}

// Specific table types
